*#
*.egg-info
*.spec
*~
.DS_Store
.coverage
.env
.env-test-*
.env-tl-studio*
.idea/
.ipynb_checkpoints/
.next/
.temp.py
.vscode/
.yarn/*
/.idea
/.pytest_cache
/.tox
/build
/dist
/tests/.pytest_cache
/venv
__pycache__
_prompt-*
_response-*
_tmp_source_py
backend/data/
backtesting/data/
bots-env/
bt_bokeh_plot*
build/
deactivate/
dist/
node_modules/
notebooks/
tlenv/
frontend/public/bt_*.html
frontend/public/tl-studio.zip
log.txt
